[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/walid17
[access "refs/for/refs/*"]
	read = group user/walid17
	push = group user/walid17
	label-Code-Review = -2..+2 group user/walid17
	label-Verified = -1..+1 group user/walid17
	rebase = group user/walid17
	removeReviewer = group user/walid17
	submit = group user/walid17
[access "refs/heads/*"]
	read = group user/walid17
	create = group user/walid17
	push = +force group user/walid17
	pushMerge = group user/walid17
[access "refs/tags/*"]
	push = group user/walid17
	push = +force group user/walid17
